<h1>Dashboard</h1>
<h3>Where and when do you want to play golf?</h3>
<%= form_with url: tee_times_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :date%>
    <%= f.date_field :date%>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.select :location, ["Longmont"] %>
  </div>
  <%= f.submit "See Tee Times" %>
<% end %>
